<a href="https://colab.research.google.com/github/hectorhh45/tarea_thc1/blob/main/3_Oct_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print (x)
  if x == "banana":
    break

apple
banana

In [ ]:
i = 1
while i < 6:
  print (i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print (x)

apple
cherry

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
suma = 0
for i in range(1, 51):
    suma += i
print("La suma de los primeros 50 números naturales es:", suma)

La suma de los primeros 50 números naturales es: 1275

In [ ]:
suma=0
i=1
while i<51:
 suma=suma+i
 i=i+1
print(suma)

1275

In [ ]:
def factorial(n):
    resultado = 1
    for i in range(1, n + 1):
        resultado *= i
    return resultado
numero = int(input("Introduce un número para calcular su factorial: "))
resultado = factorial(numero)
print("El factorial de", numero, "es", resultado)

Introduce un número para calcular su factorial: 23
El factorial de 23 es 25852016738884976640000

In [ ]:
for i in range(1, 101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
frutas = ("manzana", "pera", "naranja", "kiwi")
for fruta in frutas:
  print(fruta)

manzana
pera
naranja
kiwi

In [ ]:
if "uva" in frutas:
  print("Si, la uva esta en la lista")

In [ ]:
lista_numeros = [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
suma = 0
for numero in lista_numeros:
    suma += numero
print("La suma de los elementos de la lista es:", suma)

La suma de los elementos de la lista es: 204